<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Businesses</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">URBAN UNITE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shops</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h2 style="padding-top: 20px;">All Businesses</h2>
            <div class="cards-container">
                <div class="card-item" *ngFor="let business of businesses">
                    <h3>{{ business.businessName }}</h3>
                    <p>Category: {{ business.category }}</p>
                    <p>Address: {{ business.address }}</p>
                    <p>State: {{ business.state }}</p>
                    <p>Postal Code: {{ business.postalCode }}</p>
                    <p>Email: {{ business.email }}</p>
                    <p>Open Days: {{ business.dayFrom }} to {{ business.dayTo }}</p>
                    <p>Open Time: {{ business.timeFrom }} to {{ business.timeTo }}</p>
                    <button type="button" class="btn btn-primary" (click)="viewBusinessDetails(business.businessId)">View Details</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
