html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    margin-top: 60px; /* Adjust margin-top to fit below the navbar */
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: calc(100vh - 60px); /* Adjust height to fit the viewport height minus the navbar height */
    top: 60px; /* Position below the navbar */
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 999; /* Ensure it is below the navbar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 250px; /* Offset by the width of the sidebar */
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
}

.more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.more-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 10px); /* 50% width with space for the gap */
    box-sizing: border-box;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}