    /* Main content styling */
    html, body {
      height: 100%;
      margin: 0;
      background-image: url('https://wallpapers.com/images/featured/rose-gold-laptop-u6istlns83r9gmom.jpg');
      background-size: cover;  /* Ensures the image covers the entire screen */
      background-position: center;  /* Centers the image */
      background-repeat: no-repeat;  /* Prevents image repetition */
      background-attachment: fixed;  /* Keeps the background fixed on scroll */
  }
  
  
  
  body {
      margin: 0;
      height: 100%;
  }
  
  
    .hero-section {
      padding: 30px 0;
      text-align: center;
    }

    .hero-section img {
      width: 100%;
      max-width: 500px;
    }

    .content-section {
      padding: 30px 0;
    }

    .reviews-section {
      padding: 30px 0;
    }

    .category-icon {
      font-size: 48px;
      color: #dc3545;
      margin-bottom: 15px;
    }

    /* Footer styling */
    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
    }

    footer .footer-link {
      color: #333;
    }

    footer .footer-link:hover {
      color: #007bff;
      text-decoration: underline;
    }

    .display-4{
      font-weight: bold;
    }

    .urban-unite-font {
      font-family: 'Cinzel', serif;
      font-weight: bold;
    }

    .card-body{
      background-color:rgba(255, 148, 148, 0.4);;
    }