body {
    background-color: #f4f6f9;
    /* font-family: 'Cinzel', serif; */
    color: #333;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: #fff;
    overflow-y: auto;
}

.sidebar h5 {
    color: #e9ecef;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cinzel', serif;
}

.sidebar a {
    color: #e9ecef;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #495057;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
}

.navbar {
    background-color: rgb(230, 77, 77);;
    margin-bottom: 20px;
    border-radius: 8px;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    font-size: medium;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.chart-card {
    height: 300px;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.table-actions {
    display: flex;
    gap: 10px;
}

.urban-unite-font {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-card img:hover {
    transform: scale(1.05);
}