
  .heading-container {
    margin-top: 0; /* Removed margin to eliminate space between navbar and heading */
    margin-bottom: 20px; /* Optional: decrease margin below heading as well */
  }
  .content-wrapper {
    padding-bottom: 30px; /* Space for footer */
  }
  .form-control {
    border-radius: 0.5rem;
  }
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  .text-danger {
    color: #dc3545 !important;
  }
  .footer-link {
    text-decoration: none;
    color: inherit;
  }
  .footer-link:hover {
    text-decoration: underline;
    color: #007bff;
  }
  footer {
    border-top: 1px solid #e4e4e4;
    position: relative;
    width: 100%;
    bottom: 0;
  }

  .urban-unite-font {
    font-family: 'Cinzel', serif;
    font-weight: bold;
  }
  
  .bgcolor{
    background: rgba(255, 177, 156, 1.0);
  background: radial-gradient(at left top, rgba(255, 177, 156, 1.0), rgba(230, 226, 237, 1.0));
  }
  