<head>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-4">
      <h3 class="text-center ">Log in to <span class="text-danger urban-unite-font">URBAN UNITE</span></h3>
      
      <p class="text-center">By continuing, you agree to Urban Unite's <a href="#" class="text-decoration-none">Terms of Service</a> and acknowledge Urban Unite's <a href="#" class="text-decoration-none">Privacy Policy</a>.</p>
      <div *ngIf="errorMessage" class="text-center error-message">
        {{ errorMessage }}!!!
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <input type="text" name="username" class="form-control" placeholder="Username" 
          [(ngModel)]="user.username" formControlName="username"
          [class.is-invalid]="validateControl('username')" required>
          <span *ngIf="validateControlError('username','required')" class="text-danger">Username is mandatory    
          </span>
        </div>
        <div class="mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" 
          [(ngModel)]="user.email" formControlName="email"
          [class.is-invalid]="validateControl('email')" required>
          <span *ngIf="validateControlError('email','required')" class="text-danger">Email is mandatory    
          </span>
          <span *ngIf="validateControlError('email','email')" class="text-danger">Email is invalid    
          </span>
        </div>
        <div class="mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" 
          [(ngModel)]="user.password" formControlName="password"
          [class.is-invalid]="validateControl('password')" required>
          <span *ngIf="validateControlError('password','required')" class="text-danger">Password is mandatory    
          </span>
        </div>
        
        <button type="submit" class="btn btn-danger w-100" [disabled]="registerForm.invalid">Log In</button>
      </form>
      <p class="text-center mt-3">New User? <a routerLink="/customerregister" class="text-primary text-decoration-none">Sign up</a></p>
    </div>
  </div>
</div>
