<div *ngIf="businesses">
    <h2>{{ businesses.businessName }}</h2>
    <p>Category: {{ businesses.category }}</p>
    <p>Address: {{ businesses.address }}</p>
    <p>State: {{ businesses.state }}</p>
    <p>Postal Code: {{ businesses.postalCode }}</p>
    <p>Email: {{ businesses.email }}</p>
    <p>Open Days: {{ businesses.dayFrom }} to {{ businesses.dayTo }}</p>
    <p>Open Time: {{ businesses.timeFrom }} to {{ businesses.timeTo }}</p>
  
    <h3>Products</h3>
    <ul *ngIf="businesses.products && businesses.products.length > 0; else noProducts">
      <li *ngFor="let product of businesses.products">
        {{ product.productName }} - {{ product.price | currency }}
      </li>
    </ul>
    <ng-template #noProducts>
      <p>No products available for this business.</p>
    </ng-template>
  
    <h3>Services</h3>
    <ul *ngIf="businesses.services && businesses.services.length > 0; else noServices">
      <li *ngFor="let service of businesses.services">
        {{ service.serviceName }} - {{ service.price | currency }}
      </li>
    </ul>
    <ng-template #noServices>
      <p>No services available for this business.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <p>Loading business details...</p>
  </ng-template>
  