html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    width: 100%;
    background-color: rgb(230, 77, 77);
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
    font-family: 'Cinzel', serif;
}
.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: calc(100vh - 60px); /* Adjust height to fit the viewport height minus the navbar height */
    top: 60px; /* Position below the navbar */
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 999; /* Ensure it is below the navbar */
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}
.sidebar ul li a:hover {
    background-color: #ddd;
}
.main-content {
    margin-left: 250px; /* Offset by the width of the sidebar */
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    margin-top: 60px; /* Adjust margin-top to fit below the navbar */
}
.card-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
}
.card-item {
    background-color: #f1f1f1;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.more-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar-nav .nav-item {
    margin: 0 10px;
}
.navbar-nav .nav-link {
    color: #fff;
    font-weight: 200;
}
.navbar-nav .nav-link:hover {
    color: #ddd;
}